* {
  box-sizing: border-box;
}

body {
 
  background-color: rgb(185, 185, 185);
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  transition: width 500ms ease-in-out;
}

#search-box:focus {
width: 100%;
}

.country-list {
  list-style: none;
}